$primary-font: 'Playfair Display', serif;
$secondary-font: 'Poppins', sans-serif;
$primary-color: #5C6B3A;
$accent-color: #b68834;
$title-color: #2B2B2B;
$text-color: #6B6B6B;
$white: #fff;
$offwhite: #F2EBE0;
$black: #1A1A1A;
$bg-dark: #1C1F17;

